.insider_container{
    width: 85%;
    margin: auto;
    background-color: white;
    margin-top: 40px;
}
.insider_item{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.insider_carousel_btn_box_R{
    border: 1px solid white;
    color: white;
    margin-right: 50px;
    border-radius: 50%;
    background-color: #323234;
    opacity: 0.5;
}

.insider_carousel_btn_box_L{
    border: 1px solid white;
    color: white;
    margin-right: -50px;
    border-radius: 50%;
    background-color: #323234;
    opacity: 0.5;
}



.insider_item_img_box>img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.insider_item_txt_box{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px;
    height: 110px;
}


