.main-grid{
    margin: auto;
    padding: 2rem;
    font-family: "Helvetica neue",Arial, Helvetica, sans-serif;
}
.head{
    font-size: 1.5rem;
    font-weight: 600;
}
.item-box{
    width: 40rem;
    padding: 1rem;
    border: 1px solid green;
}
.payment-box{
    width: 20rem;
    border: 1px solid red;
}
.creditcard{
    border: 1px solid rgb(213, 201, 201);
    margin-top: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}
.credit-flex{
    display: flex;
    gap: 2rem;
    padding: 0.5 rem;
    align-items: center;
}
.credit-btn{
    border: 2px solid black;
    border-radius: 2rem;
    font-size: 12px;
    font-weight: 700;
    padding: 0.3rem 0rem;
    width: 8rem;
}
.item-list-box{
    background-color: rgb(242, 241, 241);
    padding: 0.8rem;
}
.sh-l1{
    padding: 0.5rem;
    background-color: aliceblue;
}
.sh-l1-1{
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
}
.sh-l1-2{
    display: flex;
    gap: 0.5rem;
}
.sh-l1-2-1{
    border: 1px solid rgb(224, 215, 215);
    padding: 0.8rem;
    text-align: center;
    font-size: 0.9rem;
}
.sh-l2{
    padding: 0.5rem;
    display: flex;
    gap: 1rem;
    background-color: aliceblue;
}
.sh-l2-1{
    padding: 0.5rem;
}
.sh-l2-1-1{
    display: flex;
    justify-content: space-between;
    width: 30rem;
}
.sh-link{
    font-size: 0.9rem;
}
.sh-link:hover{
    text-decoration: underline;
}
.sh-l2-1-2{
    display: flex;
    justify-content: space-between;
    width: 30rem;
    margin-top: 0.5rem;
}
.sh-btns{
    display: flex;
    gap: 1rem;
}
.change-btn{
    border: 1px solid black;
    border-radius: 2rem;
    font-size: 12px;
    margin-top: 0.3rem;
    padding: 0.3rem 0rem;
    width: 8rem;
}
.additional-main{
    margin: 1rem 0rem;
}
.add-btn{
    border: 2px solid black;
    border-radius: 2rem;
    font-size: 12px;
    font-weight: 700;
    padding: 0.3rem 0rem;
    width: 5rem;
    margin-top: 2rem;
}