.main-grid{
    margin: auto;
    padding: 2rem;
    font-family: "Helvetica neue",Arial, Helvetica, sans-serif;
}
.head{
    font-size: 1.5rem;
    font-weight: 600;
    /* font-family: "Helvetica neue",Arial, Helvetica, sans-serif; */
}
.item-box{
    width: 40rem;
    border: 1px solid green;
}
.payment-box{
    width: 20rem;
    border: 1px solid red;
}
.creditcard{
    border: 1px solid rgb(213, 201, 201);
    margin-top: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}
.credit-flex{
    display: flex;
    gap: 2rem;
    padding: 0.5 rem;
    align-items: center;
}
.credit-btn{

    border: 2px solid black;
    border-radius: 2rem;
    font-size: 14px;
    font-weight: 700;
}