.fa-solid{
    font-size: 16px; 
}


   #nav1{
   background-color:#c0dcf1;
   height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   }
   #nav1>a{
       text-decoration: none;
       background-color:#c0dcf1;
   }
   #nav1:hover{
       text-decoration: underline;
   }
   
   #nav2{
       display: flex;
       justify-content: space-between;
       align-items: center;
       width: 90%;
       margin: auto;
       height: 100px;
   }
   
   #nav2>div:first-child{
   display: flex;
   justify-content: space-evenly;
   width: 90%;
   align-items: center;
   }
   #nav2>div:first-child>div{
       display: flex;
       justify-content: center;
       align-items: center;
   }
   #nav2>div:first-child>p{
       /* margin-left: 7px; */
       font-weight: 600;
       margin-top: -20px;
   }

   #nav2>div:first-child>input{
    margin-top: -20px;
}
 
   #nav2>div:first-child>div>span>img{
       width: 30px;
   }
   #nav2>div:first-child>p:first-child{
       font-size: 25px;
       /* letter-spacing: 5px; */
   }#nav2>div:first-child>input{
       height: 35px;
       width: 30%;
       border: 2px solid transparent;
       border-radius: 15px;
       background-color: rgb(240, 240, 240);
   }
   .nav2-sub-section{
    font-size: 14px;
    color: #9ca7a8;
   }
   #nav2>div>div>p{
    margin-top: -20px;
   }
   .search{
       width: 30px;
   }
   #nav2>div:last-child{
       border: 2px solid transparent;
       width: 13%;
       display: flex;
       justify-content: space-between;
       margin-top: -20px;
   }
   #nav5{
       background-color: black;
       height: 60px;
       margin-top: -20px;
   }

   .hover-item-li{
    font-weight: 700;
}

   #nav5>ul{
       display: flex;
       list-style: none;
       justify-content: center;
       box-sizing: border-box;
       padding-top: 10px;
   }
   #nav5>ul>li{
       padding: 10px;
       position: relative;
       /* padding-left: 30pxpx; */
       padding-right: 30px;
   }
   #nav5>ul>li>div{
       position: absolute;
       top: 50px;
       z-index: 100;
       margin-left: auto;
       display: none;
       background-color: white;
       border: 4px solid white;
       padding: 20px 40px 20px 0px;
       line-height: 30px;
       box-sizing: border-box;
       width: 1400px;
   }

   #nav5>ul>li>div>ul{
    margin-left: auto;
    
   }
#nav5>ul>li:nth-child(1)>div{
margin-left: -20px;
}
#nav5>ul>li:nth-child(2)>div{
    margin-left: -180px;
}
#nav5>ul>li:nth-child(3)>div{
    margin-left: -230px;
}
#nav5>ul>li:nth-child(4)>div{
    margin-left: -300px;
}
#nav5>ul>li:nth-child(5)>div{
    margin-left: -380px;
}
#nav5>ul>li:nth-child(6)>div{
    margin-left: -540px;
}
#nav5>ul>li:nth-child(7)>div{
    margin-left: -580px;
}
#nav5>ul>li:nth-child(8)>div{
    margin-left: -790px;
}
#nav5>ul>li:nth-child(9)>div{
    margin-left: -920px;
}
#nav5>ul>li:nth-child(10)>div{
    margin-left: -1015px;
}
#nav5>ul>li:nth-child(11)>div{
    margin-left: -1140px;
}
#nav5>ul>li:nth-child(12)>div{
    margin-left: -1280px;
}
#nav5>ul>li:nth-child(1)>div>ul:nth-child(3){
    margin-left: 300px;
}
#nav5>ul>li:nth-child(7)>div>ul:nth-child(5){
margin-left: 100px;
}
#nav5>ul>li:nth-child(8)>div>ul:nth-child(5){
    margin-left: 100px;
}
#nav5>ul>li:nth-child(9)>div>ul:nth-child(3){
    margin-left: 250px;
}
#nav5>ul>li:nth-child(10)>div>ul:nth-child(5){
    margin-left: 150px;
}
#nav5>ul>li:nth-child(11)>div>ul:nth-child(3){
    margin-left: 400px;
}
#nav5>ul>li:nth-child(12)>div>ul:nth-child(3){
    margin-left: 250px;
}
   #nav5>ul>li>div>ul>li>a{
    color: #000;
   text-decoration: none;
   }
   #nav5>ul>li>div>ul>li{
    list-style: none;
   }
   #nav5>ul>li>div>ul>li>a:hover{
       text-decoration: underline;
   }
   #nav5>ul>li:hover>div{
       display: flex;
   }
   #nav5>ul>li>a{
       text-decoration: none;
       color: white;
   }
   .heading1{
    margin-left: 90px;
    margin-top: 80px;
   }
  .heading{
    margin-top: -50px;
    margin-left: 90px;
  }

  

   @media all and (min-width: 768px) and (max-width: 1024px){
       #nav2>div:first-child>div{
           display: none;
       }
       #nav5{
         display: none;
       }
   }
   
   @media all and (min-width: 320px) and (max-width: 640px){
       #nav2>div:first-child>div{
           display: none;
       }
       #nav5{
           display: none;
         }
     
   }
   
   

.feat {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .labels {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 8px;
    text-align: left;
    width: 130px;
    height: 160px;
    display: flex;
    flex-direction: column;
     justify-content: space-between;
    align-items: flex-start;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
     
  }
  
  .labels:hover{
    padding-top: 18px;
    padding-bottom: -10px;
   }  
  
  .labels>img {
     
    height: 45px; 
    align-self: flex-end;
  }
  
  .labelBox {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    height: 215px;
     
  }
  
  #fetGuid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
   
  }
  
  .giftCards {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    width: 95%;
  }
  
  .giftCard {
    box-shadow: rgba(0, 0, 0, 0.63) 0px 1px 4px;
    border-radius: 5px;
  
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: black;
     
    font-weight: 600;
  }
  
  .giftCard>img {
    width: 100%;
  }
  
  .giftCard>h3,
  span,
  p {
    margin-left: 15px;
  }
  
  .blueCard{
    background-color: rgba(76, 178, 226, 0.452);
  }
  
  html,
  body {
      position: relative;
      height: 100%;
      margin-bottom: 555px;
      width: 100%;
  
  }
  
  body {
  
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      color: #000;
      margin: 0;
      padding: 0;
  }
  
  .swiper {
      width: 1400px;
      height: 455px;
  }
  
  .swiper-slide {
  
      font-size: 18px;
      background: #fff;
      margin: 20px;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
      height: fit-content;
      border: 1px solid rgb(228, 226, 226);
      /* Center slide text vertically */
      display: flex;
      flex-direction: column;
      width: fit-content;
  
  }
  
  .swiper>h1 {
      font-size: 30px;
  }
  
  .swiper-slide:hover {
      padding-top: 5px;
      padding-bottom: -5px;
  
  }
  .swiper-slide:hover > .absBtn{
    display: block;
  }
  
  
  .swiper-slide img {
      display: block;
      width: 180px;
      object-fit: cover;
  }
  
  
  #btnSignIn {
      border-radius: 35px;
      background-color: transparent;
      height: 35px;
      font-size: 16px;
      font-weight: 600;
      padding: 5px;
      width: 80%;
      border: 3px solid rgb(3, 2, 2);
      margin: auto;
      margin-top: 10px;
      margin-bottom: 10px;
      
  }
  
  #boxContainer1{
    margin-top: 50px;
  }
  #boxContainer3 {
      padding-bottom: 155px;
  }
  
  #boxContainer3>.swiper-slide {
      height: 750px;
      padding: 105px;
  }
  
  .absBtn{
    position: absolute;
    display: none;
    bottom: 90px;
    left: 20px;
    background-color: rgb(38, 38, 38);
    color: #fff;
    width: 170px;
  }
  .absBtn:hover{
    cursor: pointer;
  }
  
  img+h4{
    margin-left: 15px;
  }
  h4+p{
    margin-top: -20px;
  }
  span{
    /* font-size: 14px; */
    margin-top: -20px;
  }
  
  @media all and (min-width: 768px) and (max-width: 1024px){
    .swiper{
      width: 1400px;
    }
    .feat{
        display: flex;
        flex-direction: column;
    }
  }
  
  @media all and (min-width: 320px) and (max-width: 640px){
    
    .swiper{
      width: 1400px;
    }
    .feat{
        display: flex;
        flex-direction: column;
    }
  }


  /* ------------------- ( store dropdown Option) ----------------- */

  /* .store_drobdown {
    position: relative;
    display: inline-block;
  }
  
  .store_dropdown-content {
    display: none;
    margin-top: 610px;
    background: #fff;
    width: 400px;
    padding: 20px;
    min-width: 160px;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  
  .store_dropdown:hover .dropdown-content {
    display: block;
  }
  

  .store_dropdown_container1{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  

  .store_dropdown_container1_btn{
    width: 100%;
    display: block;
    margin: auto;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
  }

  .store_dropdown_container1_box{
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
  }
  .store_dropdown_container1_box>div:first-child{
    width: 60%;
  }
  .store_dropdown_container1_box>div:last-child{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  

  .store_dropdown_container1_sub_box1{
    display: flex;
    
  }

  .store_dropdown_container1_sub_box1>div:first-child{
    width: 30%;
  }

  .store_dropdown_container1_sub_box1>div:last-child{
    width: 70%;
    text-align: start;
  }

  .store_dropdown_container1_sub_box1>div:first-child>img{
    width: 50px;
  }

  .store_dropdown_container1_sub_box1>div:last-child>h4{
    font-size: 16px;
    font-weight: 600;
  }

  .store_dropdown_container1_sub_box1>div:last-child>p{
    font-size: 14px;
    margin-top: 1px
  }
  

  .store_dropdown_container1_sub_box2{
    display: flex;
    margin: auto;
    gap: 50px;
  }

  .store_dropdown_container1_sub_box2>div:first-child{
    width: 20%;
  }

  .store_dropdown_container1_sub_box2>div:first-child>img{
    width: 70px;
    border-radius: 50%;
  }

  .store_dropdown_container1_sub_box2>div:last-child{
    width: 80%;
    text-align: start;
  }

  .store_dropdown_container1_sub_box2>div:last-child>h4{
    font-size: 16px;
    font-weight: 600;
  }


  .store_dropdown_container1_sub_box2>div:last-child>p{
    font-size: 14px;
    margin-top: 1px;
  } */



  /* ------------------- ( Account Option) ----------------- */

  .drobdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    margin-top: 510px;
    background: #fff;
    width: 400px;
    padding: 20px;
    min-width: 160px;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
  }
  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

  .dropdown_container1{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  

  .dropdown_container1_btn{
    width: 100%;
    display: block;
    margin: auto;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
  }

  .dropdown_container1_box{
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
  }
  .dropdown_container1_box>div:first-child{
    width: 60%;
  }
  .dropdown_container1_box>div:last-child{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  

  .dropdown_container1_sub_box1{
    display: flex;
    
  }

  .dropdown_container1_sub_box1>div:first-child{
    width: 30%;
  }

  .dropdown_container1_sub_box1>div:last-child{
    width: 70%;
    text-align: start;
  }

  .dropdown_container1_sub_box1>div:first-child>img{
    width: 50px;
  }

  .dropdown_container1_sub_box1>div:last-child>h4{
    font-size: 16px;
    font-weight: 600;
  }

  .dropdown_container1_sub_box1>div:last-child>p{
    font-size: 14px;
    margin-top: 1px
  }
  

  .dropdown_container1_sub_box2{
    display: flex;
    margin: auto;
    gap: 50px;
  }

  .dropdown_container1_sub_box2>div:first-child{
    width: 20%;
  }

  .dropdown_container1_sub_box2>div:first-child>img{
    width: 70px;
    border-radius: 50%;
    display: block;
    margin: auto;
  }

  .dropdown_container1_sub_box2>div:last-child{
    width: 80%;
    text-align: start;
  }

  .dropdown_container1_sub_box2>div:last-child>h4{
    font-size: 16px;
    font-weight: 600;
    text-align: start;
  }


  .dropdown_container1_sub_box2>div:last-child>p{
    font-size: 14px;
    margin-top: 1px;
    text-align: start;
  }


  .dropdown_container2{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 20px;
  }


  .dropdown_sub_container{
    line-height: 30px;
    
  }
  .dropdown_sub_container>h1{
    font-size: 16px;
    font-weight: 600;
    
  }
  .dropdown_sub_container>ul{
    list-style-type: none;
  }


 #signin_dropdown_img{
    width: 40px;
 }